@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}
html{
    height: 100%;
}
.bg-primary{
    background-color: #1789b5 !important;
}
.border-primary {
    border-color: #1789b5 !important;
}
.text-primary {
    color: #1789b5 !important;
}
.btn-primary{
    background-color: #1789b5!important;
    border-color: #1789b5!important;
}