@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke!important;
}
html{
    height: 100%;
}
.bg-primary{
    background-color: #1789b5 !important;
}
.border-primary {
    border-color: #1789b5 !important;
}
.text-primary {
    color: #1789b5 !important;
}
.btn-primary{
    background-color: #1789b5!important;
    border-color: #1789b5!important;
    transition: all 150ms linear;
}
.btn-primary:hover{
    background-color: #08536d!important;
    border-color: #08536d!important;
    transition: all 150ms linear;
}


.form-control{
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-radius: 0;
}
.form-control:focus{
    background: transparent;
    box-shadow: none;
    -webkit-animation-name: pulseBorder;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 0.5s;
    color:black;
}


.form-control::placeholder{
    color: black;
}
input::-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
input:-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
input::-webkit-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
input:focus:-ms-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
input:focus::-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
input:focus:-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
input:focus::-webkit-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
@-webkit-keyframes pulseBorder {
    from {
        border-bottom: solid 2px black;
    }
    to {
        border-bottom: solid 2px #1789b5;
    }
}